{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

<main class="content" role="main">
    <article class="post page row">
    	<section class="post-content large-12">
    		<ul class="lang-selector">
    			<li>
                    <a href="/pl-home/" title="Polish/Polski"><img src="/assets/img/pl-1469525176807.png" /></a>
                </li>
                <li>
                    <a href="/en-home/" title="English"><img src="/assets/img/en-1469525160748.png" /></a>
                </li>
                <li>
    				<a href="/de-home/" title="German/Deutsch"><img src="/assets/img/de-1469525208244.png" /></a>
    			</li>
                <li>
                    <a href="/nl-home/" title="Dutch/Nederlands"><img src="/assets/img/nl-1469525192026.png" /></a>
                </li>
    		</ul>
        </section>
    </article>
</main>
